@import "tailwindcss";

body {
  background-color: #243e62;
  color: white;
}

@theme {
  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
